body{
    background: #f0f4f7;
}
.registerWrap{
    width:1000px;
    height: auto;
    margin: auto;
}
.title{
    line-height: 144px;
    background: url(/views/login/img/zcxx1.png) no-repeat 225px center;
    text-indent: 306px;
    font-size:36px;
}
.zcxxWrap{
    padding: 0 30px;
    background: #fff;
}
.zcxxTop{
    line-height: 54px;
    text-align: center;
}
.usrexx{
    line-height: 64px;
    font-size:20px;
}
.return{
    float:right;
    color:#525252;
    font-size:16px;
}
.return a{
    color:#525252;

}
.zcxxtab{
    padding-top:30px;
}
.zcxxtab li{
    height:68px;
    position: relative;
}
.zcxxtab li input{
    width: 478px;
    height:46px;
    border:1px solid #e9edf0;
    text-indent:30px;
    font-size:16px;
}
.usreName{
    display: inline-block;
    width:210px;
    padding-right:20px;
    text-align: right;
    line-height:48px;
}
.zcxxtab li .yzmIpt{
    width: 228px;
    margin-left: 230px;
    margin-right: 20px;
}
.tamWz{
    display: inline-block;
    width:228px;
    line-height: 46px;
    border:1px solid #e9edf0;
    background: #f0f4f7;
    text-align: center;
    color:#7a7a7a;
    cursor:pointer;
}
#btn{
    width:228px;
    line-height: 46px;
    border:1px solid #e9edf0;
    background: #f0f4f7;
    text-align: center;
    color:#7a7a7a;
}
.tyxy{
    width: 480px;
    line-height: 48px;
    background: #5ca3e6;
    text-align: center;
    margin: auto;
    color:#fff;
    cursor: pointer;
}
.tyxy1{
    width: 480px;
    line-height: 48px;
    background: #5ca3e6;
    text-align: center;
    margin: auto;
    color:#fff;
    cursor: pointer;
}
.tyxy2{
    width: 480px;
    line-height: 48px;
    background: #5ca3e6;
    text-align: center;
    margin: auto;
    color:#fff;
    cursor: pointer;
}
.tyxy:hover{
    background: #3d8fdb;
}
.tyxy1:hover{
    background: #3d8fdb;
}
.tyxy2:hover{
    background: #3d8fdb;
}
.zcxxtab li .checked{
    width:15px;
    height:15px;
    margin-right: 10px;
    position: relative;
    top:3px;
}
.zcxxtab .lastLi{
    text-indent: 230px;
    color:#5ca3e6;
    font-size:12px;
}
.zcxxtab li .phoneLi{
    text-indent: 80px;
}
.position{
    position: absolute;
    top: 0;
    left:230px;
    width:62px ;
    line-height:46px;
    text-align: center;
    border-right:1px solid #e9edf0;
}
.hide{
    color:#db3b3e;
    margin-left: 60px;
}
a:hover {
    color:#5ca3e6;
    text-decoration:none;
}
.prompt{
    font-size:12px ;
    color: red;
}
.okReg{
    position: relative;
    top: 12px;
    left: 16px;
}
/*****************************xinzen*******************/
.titleTab{
    width: 100%;
    height:64px;
    border-bottom: 1px solid #e9edf0;
}
.titleTab li{
    float: left;
    width:33.3%;
    line-height: 64px;
    text-align: center;
    color:#8f8f8f;
    font-size:20px;
    position: relative;
}
.titleTab li:nth-of-type(1){
    background: url(../img/title1.png) no-repeat 65px center;
    color:#3d8fdb;
}
.titleTab li:nth-of-type(2){
    background: url(../img/title_h2.png) no-repeat 65px center;
}
.titleTab li:nth-of-type(3){
    background: url(../img/title_h3.png) no-repeat 103px center;
}
.zcxxTop a{
    color:#525252;
}
.zcxxTop a span{
    color:#5ca3e6;
}
.bg_this{
    width: 100%;
    height:6px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/title_bg.png) no-repeat 40px 0;
    display: none;
}
.plate{
    height:574px;
}
.plate2 .plateLi1{
    height:140px;
}
.plate2 .yyzz{
    height:140px;
}
.plate2 .yyzz p{
    padding-left:234px;
    line-height: 42px;
    color:#3d8fdb;
    font-size: 14px;
}
span.name {
    display: block;
    float: left;
    width: 210px;
    text-align: right;
    line-height: 36px;
    padding-right: 24px;
}
.gf-select {
    float: left;
    width: 117px;
    margin-right: 10px;
    position: relative;
}
.gf-select span {
    width: 80px;
    padding: 7px 27px 8px 10px;
    display: block;
    border: 1px solid #ddd;
    cursor: pointer;
}
.gf-select span em {
    font-style: normal;
}
.gf-select .icon-jt {
    background: url(../img/down-jt.png) center right no-repeat;
    width: 12px;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}
.gf-select ul {
    border: 1px solid #ddd;
    position: absolute;
    width: 100%;
    top: 31px;
    overflow-y: auto;
    display: none;
    background: #fff;
}
.gf-select ul li {
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    padding-left: 10px;
    height:30px;
    width:90px;
}
.gf-select ul li:last-child {
    border-bottom: none;
}
.more{
    margin-left: 234px;
    margin-top:30px;
}
.success{
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    color:#525252;
}

    #file{
        text-indent: 216px;
        padding-top:10px;
    }
form{
    width:480px;
    display: inline-block;
}
.pic{
    position: relative;
    top:-48px;
}