<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>基站物联网大数据开发平台</title>
    <!-- public文件-->
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/views/css/index.css"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  </head>
  <body>
      <div class="dataPlatform">
          <!--顶部模块分布-->
          <div class="platformWrap">
              <div class="platformHead">
                  <h2 class="title">基站物联网大数据开发平台</h2>
                  <div class="back">
                    <img class="zhixiang" src="/views/img/zhixia-h.png" alt=""/>
                    <span class="usreNmae"><%= title %></span>
                    <p class="quit">
                      <a class="quitwa" href="login/pages/login.ejs">退出登录</a>
                    </p>
                  </div>
              </div>
              <div class="platformBtm">
                    <ul class="platformTab">
                      <li class="factory ">出厂设置</li>
                      <li class="distribution">分布管理</li>
                      <li>日期统计</li>
                      <li>数据管理</li>
                      <li>地图管理</li>
                      <li>账户管理</li>
                      <li>产品文档</li>
                      <li>关于平台</li>
                    </ul>
                    <ul class="codeTab">
                         <li class="codeList1"></li>
                         <li class="codeList2">APP二维码</li>
                    </ul>
                <!--返回顶部-->
                    <div class="backTop">
                      <span class="backL">返回顶部</span>
                      <span class="backR"></span>
                    </div>
              </div>
          </div>
          <!--出厂设置模组显示-->
          <div class="mapContion" style="display: none">
            <div class="map-bg">
              <div class="mapTop">
                <div class="mapL">
                    <p class="tymz">通用组合式模组<span>128</span></p>
                  <ul class="tymzTab">
                    <li>
                      <p class="number">127</p>
                      <p class="word">激活数量</p>
                    </li>
                    <li>
                      <p class="number">1</p>
                      <p class="word">未激活数量</p>
                    </li>
                  </ul>
                </div>
                <div class="mapR">
                  <p class="jymz">家用一体式模组<span>257</span></p>
                  <ul class="jymzTab">
                    <li>
                      <p class="number">256</p>
                      <p class="word">激活数量</p>
                    </li>
                    <li>
                      <p class="number">1</p>
                      <p class="word">未激活数量</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <!--出厂设置-->
          <div class="factoryWrap">
                <div class="modularWrap">
                  <p class="modular">通用组合式模组</p>
                  <p class="modular">家用一体式模组</p>
                </div>
                <div class="dataTop">
                  <ul class="dataUl">
                    <li class="dataList1">
                      <select name="">
                        <option value="">按物联SN</option>
                        <option value="">按时间</option>
                      </select>
                      <input type="text" placeholder='请输入搜索条件'/>
                      <span></span>
                      <p class="download">
                        注：包含所有的物联SN
                        <a href="#">文件下载</a>
                      </p>
                    </li>
                  </ul>
                  <!--通用组合式模组数据-->
                  <div class="modularContain">
                      <table class="dataTab">
                        <tr>
                          <th style="width:180px;">物联SN</th>
                          <th style="width:117px;">使用类型</th>
                          <th style="width:107px;">工作模式</th>
                          <th style="width:107px;">无线频率</th>
                          <th style="width:107px;">发送频率</th>
                          <th style="width:107px;">发送功率</th>
                          <th style="width:141px;">网络交互</th>
                          <th style="width:118px;">出厂时间</th>
                          <th style="width:108px;">软件版本</th>
                          <th style="width:108px;">硬件版本</th>
                          <th style="width:100px"></th>
                        </tr>
                      </table>
                      <!--分页-->
                      <div class="mzdataWrap">
                        <table class="tabData" id="biuuu_city_list" border="0" cellspacing="0" cellpadding=""></table>
                      </div>
                      <div id="pages"></div>
                  </div>
                  <!--家用一体式模组数据-->
                  <div class="modularContain" style="display: none">
                    <table class="dataTab">
                      <tr>
                        <th style="width:180px;">物联SN</th>
                        <th style="width:117px;">使用类型</th>
                        <th style="width:107px;">工作模式</th>
                        <th style="width:107px;">无线频率</th>
                        <th style="width:107px;">发送频率</th>
                        <th style="width:107px;">发送功率</th>
                        <th style="width:141px;">网络交互</th>
                        <th style="width:118px;">出厂时间</th>
                        <th style="width:108px;">软件版本</th>
                        <th style="width:108px;">硬件版本</th>
                        <th style="width:100px">操作</th>
                      </tr>
                    </table>
                    <!--分页-->
                    <div class="mzdataWrap1">
                      <table class="tabData" id="biuuu_city_list1" border="0" cellspacing="0" cellpadding=""></table>
                    </div>
                    <div id="pages1"></div>
                  </div>
                </div>
              </div>
          </div>
          <!--分布管理模组显示-->
          <div class="scatterWrap"style="display: none">
                <!--分部管理模组顶部显示-->
                <div class="mapContion1">
                  <div class="map-bg">
                    <div class="mapTop">
                      <div class="mapL">
                        <p class="tymz">通用组合式模组<span class="fbglColor">128</span></p>
                        <ul class="tymzTab">
                          <li>
                            <p class="number">127</p>
                            <p class="word">在线数量</p>
                          </li>
                          <li>
                            <p class="number">1</p>
                            <p class="word">离线数量</p>
                          </li>
                        </ul>
                      </div>
                      <div class="mapR">
                        <p class="jymz">家用一体式模组<span class="fbglColor">257</span></p>
                        <ul class="jymzTab">
                          <li>
                            <p class="number">256</p>
                            <p class="word">在线数量</p>
                          </li>
                          <li>
                            <p class="number">1</p>
                            <p class="word">离线数量</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!--分部管理模组地图展示-->
                <div class="mapData">
                    <div class="toolWrap">
                        <ul class="toolTab">
                            <li class="tool public">工具</li>
                            <li class="Line public" title="测距"></li>
                            <li class="Planimetry public" title="测面"></li>
                            <li class="Brush public" title="画笔"></li>
                            <li class="Trash public" title="删除画笔"></li>
                            <li class="active">平面图</li>
                            <li class="portrait">影像图</li>
                        </ul>
                       <!-- <ul class="tdtTab">
                            <li class="active">平面图</li>
                            <li>影像图</li>
                        </ul>-->
                    </div>
                    <p class="dataWz">基站物联网大数据在线模组基础分布</p>
                    <div  id="mapDiv"></div>
                </div>
                  <!--分部管理模组数据显示1-->
                <div class="scatterData">
                      <p class="dataWz"></p>
                      <div class="tabWrap">
                        <table class="mapTab" border="0" cellspacing="0">
                          <tr>
                            <th style="width: 180px;">物联SN</th>
                            <th>使用类型</th>
                            <th>工作模式</th>
                            <th>无线频率</th>
                            <th>发送频率</th>
                            <th>发送功率</th>
                            <th>网络交互</th>
                            <th>运行状态</th>
                            <th>出厂时间</th>
                            <th>软件版本</th>
                            <th>硬件版本</th>
                            <th style="width: 100px;">操作</th>
                          </tr>
                          <tr>
                            <td>01561117c6ca0ebf6846</td>
                            <td>基站工业用</td>
                            <td>从机模式</td>
                            <td>470MHz</td>
                            <td>24小时</td>
                            <td>------</td>
                            <td>不带网络反馈</td>
                            <td>在线</td>
                            <td>2017-12-6</td>
                            <td>1.0</td>
                            <td>1.0</td>
                            <td class="more"><span class="view"></span><span class="address"></span></td>
                          </tr>
                          <tr>
                            <td>01561117c6ca0ebf6846</td>
                            <td>基站工业用</td>
                            <td>从机模式</td>
                            <td>470MHz</td>
                            <td>24小时</td>
                            <td>12</td>
                            <td>不带网络反馈</td>
                            <td>在线</td>
                            <td>2017-12-6</td>
                            <td>1.0</td>
                            <td>1.0</td>
                            <td class="more"><span class="view"></span><span class="address"></span></td>
                          </tr>
                        </table>
                      </div>
                  </div>
          </div>
      </div>
      <script src="/js/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" src="http://api.tianditu.com/api?v=4.0"></script>
      <script src="/laydate/laydate.js"></script>
      <script src="/layui/layui.js"></script>
      <script src="/views/js/index.js"></script>
  </body>
</html>
