<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- public文件-->
    <link rel="stylesheet" href="/css/reset.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- public文件-->
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
