<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基站物联网大数据开发平台 </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/views/login/css/login.css"/>
</head>
<body>

<!-- 文字区不需要请连css部分代码一并删除 -->
<div class="loginwrap">
    <div class="logo"></div>
    <P class="title">基站物联网大数据开发平台</P>
    <ul class="loginTab">
        <li class="listLi1"><input type="text" placeholder="请输入用户名或手机号"/></li>
        <li class="listLi2"><input type="password" placeholder="请输入密码"/><span class="eye"></span></li>
        <li class="listLi3"><p class="loginWz">立即登录</p></li>
        <li class="listLi4"><a href="#">注册新用户</a><a href="#">忘记密码</a><a href="#">返回</a></li>
    </ul>

</div>
<!-- 你可以添加个多“.slideshow-image”项目, 记得修改CSS -->
<div class="slideshow">
    <div class="slideshow-image" style="background-image: url('/views/login/img/login-bg1.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/views/login/img/login-bg2.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/views/login/img/login-bg3.jpg')"></div>
    <div class="slideshow-image" style="background-image: url('/views/login/img/login-bg2.jpg')"></div>
</div>
<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/views/login/js/login.js"></script>
</body>
</html>

