<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    <!-- public文件-->
    <link rel="stylesheet" href="/css/reset.css"/>
</head>
<body>
<!-- public文件-->
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>